<h4 class="center-align">Create Application</h4>
<%= form_for @lease do |f| %>
<%= hidden_field_tag "[lease]rental_id", @rental.id %>
<div class="center-align">
  <h5>Upload your Lease Form</h5>
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
  <%= f.submit "Submit" %>
  <% end %>
</div>
